In [7]:
#Libraries importing
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Matplotlib is building the font cache; this may take a moment.

In [8]:
#Data importing
url = "https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"
fuel_data = pd.read_csv(url)
fuel_data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [ ]:
fuel_data.shape

In [ ]:
# Question1 The identical matrix using numpy library
np.identity(3)

In [ ]:
# Question1, How do you create an identity matrix in python?
np.identity(3) # Will give the identity matrix of 3x3

In [22]:
# Question2, If youâ€™re given two lists:
A = [1,2,3,4,5,6]
B = [13, 21, 34]

# The task is to create a list with the elements of A and B in a single dimension with output:

# A_B =  [1,2,3,4,5,6,13, 21, 34]

# Which of the following option is the best way to create this list? 

A.extend(B)

In [26]:
#Question3, Which of the following fuel type code has the lowest average fuel cost per unit burned?
fuel_data.groupby('fuel_type_code_pudl')['fuel_cost_per_unit_burned'].mean().min() #Which is Gas

13.659396569737135

In [14]:
#Question4 stand and 75% quatile in two decimal
print(round(np.std(fuel_data['fuel_mmbtu_per_unit']), ndigits=2))

print(round(fuel_data.fuel_mmbtu_per_unit.quantile([0.75]), ndigits=2))

10.6
0.75    17.01
Name: fuel_mmbtu_per_unit, dtype: float64

In [ ]:
# Question5,  skewness and kurtosis for the fuel quantity burned in two decimal places
print(round(fuel_data['fuel_qty_burned'].kurtosis(), 2))
print(round(fuel_data['fuel_qty_burned'].skew(), 2))

In [30]:
#Question6, Which feature has missing values and what is the total number of missing value and percentage of the missing rows as a factor of the total number of rows in three decimal places? 
# (Enter answer in the format: Feature: xxx, Total: xxx, Percent: xxx)
fuel_data.isnull().sum() # Which is fuel_unit and total: 180
print((180/29523)*100)

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [29]:
# Question7, The feature with missing values falls under what category? What missing value imputation technique would you use?
fuel_data.isnull().sum() # Cotegorical and mode imputation technique to fill the missing values
fuel_data['fuel_unit'] = fuel_data['fuel_unit'].fillna(value = 'mcf')

In [ ]:
#Question8, Which of the features has the second and third lowest correlation with the Fuel Cost Per Unit Burned?
ix = fuel_data.corr().sort_values('fuel_cost_per_unit_burned', ascending=False).index
df_sorted = fuel_data.loc[:, ix]
df_sorted

In [21]:
#Question9, For the fuel type coal, what is the percentage change in the fuel cost per unit burned in 1998 compared to 1994?
(sum(fuel_data[(fuel_data['fuel_type_code_pudl'] == 'coal') & (fuel_data['report_year']==1998)]['fuel_cost_per_unit_burned'])- sum(fuel_data[(fuel_data['fuel_type_code_pudl'] == 'coal') & (fuel_data['report_year']==1994)]['fuel_cost_per_unit_burned']))/(sum(fuel_data[(fuel_data['fuel_type_code_pudl'] == 'coal') & (fuel_data['report_year']==1994)]['fuel_cost_per_unit_burned'])) *100

-20.56765451826049

In [18]:
#Question10, Which year has the highest average fuel cost per unit delivered?
fuel_data.groupby('report_year')['fuel_cost_per_unit_delivered'].mean().max() #Which correspond to 1997

11140.19723948813